<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%
  var title = [];
  if (page.current > 1){
    title.push("第"+page.current+"页");
  }
  if (page.title){
    title.push(page.title);
  }
  if (page.category){
    title.push(page.category);
  }
  if (page.tag){
    title.push(page.tag);
  }
  if (page.archive){
    title.push("归档");
    if (page.year){
      var archiveDate = page.year;
      if(page.month){
        archiveDate += '-';
        archiveDate += page.month;
      }
      title.push(archiveDate);
    }
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>
  <% if (page.tags || page.categories){ %>
  <% 
  const union = (...arrs) => {
    return arrs.reduce((arr1, arr2) => [...new Set([...arr1, ...arr2])])
  }
  var tags = [];
  for(var i in page.tags.data){
    tags.push(page.tags.data[i].name);
  }
  var categories = [];
  for(var i in page.categories.data){
    categories.push(page.categories.data[i].name);
  }
  var keywords = union(tags,categories);
  %>
  <% if (keywords && keywords.length > 0){ %>
  <meta name="keywords" content="<%= keywords.join(',') %>">
  <% } %>
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/icon-16x16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/images/icon-32x32.png" type="image/png" sizes="32x32">
  <link rel="icon" href="/images/icon-48x48.png" type="image/png" sizes="48x48">
  <% if(typeof theme.windows_tile != "undefined" && theme.windows_tile.enabled){ %>
  <meta name="application-name" content="<%= config.title %>"/>
  <meta name="msapplication-square70x70logo" content="/images/small.jpg"/>
  <meta name="msapplication-square150x150logo" content="/images/medium.jpg"/>
  <meta name="msapplication-wide310x150logo" content="/images/wide.jpg"/>
  <meta name="msapplication-square310x310logo" content="/images/large.jpg"/>
  <meta name="msapplication-TileImage" content="/images/large.jpg">
  <% if(typeof theme.windows_tile.tile_color != "undefined"){ %>
  <meta name="msapplication-TileColor" content="<%= theme.windows_tile.tile_color %>"/>
  <% } %>
  <% if(typeof theme.windows_tile.feed != "undefined" && theme.windows_tile.feed){ %>
  <meta name="msapplication-notification" content="frequency=30;polling-uri=<%= config.url %>/<%= config.tile.path %>"/>
  <% } %>
  <% } %>
  <% if(typeof theme.android_icon != "undefined" && theme.android_icon.enabled){ %>
  <link rel="manifest" href="manifest.json">
  <% } %>
  <% if(typeof theme.apple_icon != "undefined" && theme.apple_icon.enabled){ %>
  <meta name="apple-mobile-web-app-title" content="<%= config.title %>">
  <link rel="apple-touch-icon" href="/images/icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/images/icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon-180x180.png">
  <% if(typeof theme.apple_icon.status_bar != "undefined"){ %>
  <meta name="apple-mobile-web-app-status-bar-style" content="<%= theme.apple_icon.status_bar %>">
  <% } %>
  <% } %>
</head>
