<header class="header">
  <div class="header__wrapper">
    <a class="header__title header__link" href="<%= url_for() %>"><%= config.title %></a>
    <% if(config.subtitle){ %>
    <span class="header__subtitle"><%= config.subtitle %></span>
    <% } %>
    <nav class="header__menu">
      <ul class="header__list">
        <% for(var x in theme.menu){
          var item = theme.menu[x];
          if((item.isComment || item.isBoard) && !theme.staticman){
            continue
          }
          var url = item.url;
          var title = item.title;
        %>
        <li class="header__list-item">
          <a class="header__link" href="<%- url_for(url) %>" title="<%= title %>"><%= title %>
          <% if (typeof item.isArchive != "undefined" && item.isArchive){ %>
          <sup><%- site.posts.length %></sup>
          <% } else if (typeof item.isTag != "undefined" && item.isTag){ %>
          <sup><%- site.tags.length %></sup>
          <% } else if (typeof item.isCategory != "undefined" && item.isCategory){ %>
          <sup><%- site.categories.length %></sup>
          <% } %>
          </a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>