$font_name = hexo-config("font_name");
if $font_name
  @font-face
    font-family 'nojs'
    src url('/fonts/' + $font_name + '.eot');
    src url('/fonts/' + $font_name + '.eot?#font-spider') format('embedded-opentype'),
    url('/fonts/' + $font_name + '.woff') format('woff'),
    url('/fonts/' + $font_name + '.ttf') format('truetype'),
    url('/fonts/' + $font_name + '.svg') format('svg');
    font-weight normal
    font-style normal

  body
    font-family 'nojs'
else
  body
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
@import 'nib'
primary-color = #e74c3c
footer-height = 80px

.article-header__link
  display inline-block
  overflow-wrap normal
  white-space nowrap
  overflow-x hidden
  text-overflow ellipsis
  padding-bottom 10px
  max-width 100%

.article__excerpt
  text-align left
  color primary-color

.article__content
  margin-bottom 50px
  line-height 2

.article__content.article__content--index
  margin-bottom 10px

.header
  height 200px
  position relative
  text-align center
  vertical-align middle
  
.header__wrapper
  width 100%
  position absolute
  top 50%
  transform translateY(-50%)
  
.header__title
  font-size 20px
  display inline-block

.header__subtitle
  font-size 16px
  display block
  margin-top 15px
  color #ddd
  &::selection 
    background #ddd
    color #fff
  
.header__menu
  margin-top 20px

.header__list
  padding 0
  margin-top 0
  margin-bottom 0

.header__list-item
  list-style none
  display inline
  margin-left 5px
  margin-right 5px
  font-size 14px

.footer
  padding-left 20px
  padding-right 20px
  height footer-height
  line-height footer-height
  margin-bottom 0
  font-size 14px

.footer__item
  display inline-block
  vertical-align middle
  line-height normal

.footer__link
  color primary-color
  
.content__item
  padding-left 20px
  padding-right 20px
  margin-bottom 50px

.content__item.content__item--search
  margin-bottom 20px

.content__list-link
  padding-bottom 10px

.content__list
  padding 0
  margin 0
  list-style none

.content__list-item
  display inline-block
  width 100%
  margin-top 10px

.content__list-item--empty.content__list-item
  color #ccc
  text-align center

.content__list-item--tag
  width auto
  margin-right 10px

.content
  min-height 100%
  height auto !important
  height 100%
  margin-bottom 0 - footer-height

.content__push
  height footer-height

.content__item
  background-color #fff
  padding 20px

.html
  height 100%
  background-color #fff
  overflow-wrap break-word

.body
  height 100%
  margin-left auto
  margin-right auto
  max-width 700px
  margin-top 0
  margin-bottom 0

.pagination
  text-align center
  margin-bottom 50px

.search-form
  margin-bottom 20px
  width 100%
  margin-left auto
  margin-right auto
  position relative
  height 40px

.power-by
  margin-bottom 20px

.power-by__image
  width 150px

.search-form__span
  position absolute
  left 0
  right 50px
  background-color #ECF0F1
  height 40px
  line-height 40px

.search-form__input
  outline 0
  background-color #ECF0F1
  border 0
  padding 0 10px
  box-sizing border-box
  width 100%
  -webkit-appearance none

.search-form__button
  text-align center
  position absolute
  right 0
  outline 0
  background-color primary-color
  border 0
  padding 0
  color #fff
  cursor pointer
  width 50px
  box-sizing border-box
  height 40px

.search-form__button--disabled.search-form__button
  background-color #ccc
  color #999

.captcha div
     margin-left auto
     margin-right auto
     margin-bottom 10px

.comment-form
  width 100%
  max-width 320px
  margin-left auto
  margin-right auto
  margin-bottom 50px

.comment-empty
  color #9f9f9f
  text-align center

.comment-form__input
  outline 0
  width 100%
  -webkit-appearance none
  border none
  background-color #ECF0F1
  display inline-block

.comment-form__input-wrapper
  background-color #ECF0F1
  padding 10px
  display inline-block
  width 100%
  box-sizing border-box
  margin-bottom 10px
  
.comment-form__input.comment-form__input--textarea
  max-width 100%
  height 150px
  min-height 150px
  line-height 1

.comment-form__input.comment-form__input--button
  padding 10px
  background-color primary-color
  color #fff
  margin-top 10px
  box-sizing border-box 
  cursor pointer

.comment__list
  list-style none
  padding 0
  margin 0

.comment__list-item
  margin-bottom 40px

.comment__submit-date
  color #999

.comment-button
  text-align center

.comment__content
  line-height 2

.article__category-link
  margin-right 10px

.article__footer-link
  margin-top 10px

.article__header-link
  margin-bottom 10px
  
.toc
  list-style none

.toc-item
  list-style none

.article-header-list
  list-style none
  line-height 2

::selection 
  background primary-color
  color #fff

a
  text-decoration none
  color primary-color

pre
  margin-left 0
  margin-right 0
  overflow-x auto
  overflow-y hidden
  background-color #F1F1F1

code
  color primary-color
  background-color #F1F1F1

pre code
  background-color #F1F1F1
  color #333

br,pre code
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;

// td
//   word-wrap break-word
//   text-align center

.error
  background #fff
  color primary-color
  text-align center

.article__content img
  max-width 100%

.article__content table
  width 100%
  margin-top 5px
  margin-bottom 5px
  outline 0
  border-collapse collapse
  border-spacing 0

thead
  border-bottom-width 2px
  border-bottom-color primary-color
  border-bottom-style solid

tr
  border-bottom-width 1px
  border-bottom-color primary-color
  border-bottom-style solid

#footnotelist li
  display block
  overflow-x  auto

blockquote
  border-left-width 3px
  border-left-style solid
  border-left-color primary-color
  margin-left 0px
  margin-right 0px
  padding-left 10px
  padding-right 10px
  background-color #ECF0F1

  strong
    margin-right 10px


.toc
  padding-left 0